{{- if .Values.datasciencepipelines.enabled }}
apiVersion: datasciencepipelinesapplications.opendatahub.io/v1alpha1
kind: DataSciencePipelinesApplication
metadata:
  name: {{ .Values.datasciencepipelines.name }}
  namespace: {{ .Values.datasciencepipelines.namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "-4"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  apiServer:
    applyTektonCustomResource: {{ .Values.datasciencepipelines.apiServer.applyTektonCustomResource }}
    archiveLogs: {{ .Values.datasciencepipelines.apiServer.archiveLogs }}
    autoUpdatePipelineDefaultVersion: {{ .Values.datasciencepipelines.apiServer.autoUpdatePipelineDefaultVersion }}
    collectMetrics: {{ .Values.datasciencepipelines.apiServer.collectMetrics }}
    dbConfigConMaxLifetimeSec: {{ .Values.datasciencepipelines.apiServer.dbConfigConMaxLifetimeSec }}
    deploy: {{ .Values.datasciencepipelines.apiServer.deploy }}
    enableOauth: {{ .Values.datasciencepipelines.apiServer.enableOauth }}
    enableSamplePipeline: {{ .Values.datasciencepipelines.apiServer.enableSamplePipeline }}
    injectDefaultScript: {{ .Values.datasciencepipelines.apiServer.injectDefaultScript }}
    stripEOF: {{ .Values.datasciencepipelines.apiServer.stripEOF }}
    terminateStatus: {{ .Values.datasciencepipelines.apiServer.terminateStatus }}
    trackArtifacts: {{ .Values.datasciencepipelines.apiServer.trackArtifacts }}
  database:
    disableHealthCheck: {{ .Values.datasciencepipelines.database.disableHealthCheck }}
    mariaDB:
      deploy: {{ .Values.datasciencepipelines.database.mariaDB.deploy }}
      pipelineDBName: {{ .Values.datasciencepipelines.database.mariaDB.pipelineDBName }}
      pvcSize: {{ .Values.datasciencepipelines.database.mariaDB.pvcSize }}
      username: {{ .Values.datasciencepipelines.database.mariaDB.username }}
  objectStorage:
    disableHealthCheck: {{ .Values.datasciencepipelines.objectStorage.disableHealthCheck }}
    {{- if .Values.datasciencepipelines.objectStorage.minio.deploy }}
    minio:
      deploy: {{ .Values.datasciencepipelines.objectStorage.minio.deploy }}
      bucket: {{ .Values.datasciencepipelines.objectStorage.minio.bucket }}
      pvcSize: {{ .Values.datasciencepipelines.objectStorage.minio.pvcSize }}
    {{- else if .Values.datasciencepipelines.objectStorage.externalStorage.enabled }}
    externalStorage:
      basePath: {{ .Values.datasciencepipelines.objectStorage.externalStorage.basePath }}
      bucket: {{ .Values.datasciencepipelines.objectStorage.externalStorage.bucket }}
      host: {{ .Values.datasciencepipelines.objectStorage.externalStorage.host }}
      port: {{ .Values.datasciencepipelines.objectStorage.externalStorage.port }}
      region: {{ .Values.datasciencepipelines.objectStorage.externalStorage.region }}
      s3CredentialsSecret:
        accessKey: {{ .Values.datasciencepipelines.objectStorage.externalStorage.s3CredentialsSecret.accessKey }}
        secretKey: {{ .Values.datasciencepipelines.objectStorage.externalStorage.s3CredentialsSecret.secretKey }}
        secretName: {{ .Values.datasciencepipelines.objectStorage.externalStorage.s3CredentialsSecret.secretName }}
      scheme: {{ .Values.datasciencepipelines.objectStorage.externalStorage.scheme }}
    {{- end }}
  persistenceAgent:
    deploy: {{ .Values.datasciencepipelines.persistenceAgent.deploy }}
    numWorkers: {{ .Values.datasciencepipelines.persistenceAgent.numWorkers }}
  scheduledWorkflow:
    cronScheduleTimezone: {{ .Values.datasciencepipelines.scheduledWorkflow.cronScheduleTimezone }}
    deploy: {{ .Values.datasciencepipelines.scheduledWorkflow.deploy }}
{{- end }}

